<!doctype html>
<html>

    <head>
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script>
            $(document).ready(function(){
            
                $("#sendBtn").click(function(){
                    console.log("hep");
                    var data = {
                        
                        user:localStorage['username'],
                        name:$("#name").val(),
                        address:$("#address").val(),
                        age:$("#age").val()
                    }
                    
                    $.ajax({
                        method:'POST',
                        url:'http://localhost:3000/persons',
                        data:data,
                        //dataType:'json'
                    }).done(function(data){
                        console.log("Persons added");
                        window.location="./persons.html";
                });
                });
            });
        </script>
    </head>

    <body>
        <h1>Add new contact info</h1>
        <form>     <!-- enctype - millaista tietoa serverille lähetetään,
                                                                              action - mihin kohtaan käsittely kohdistuu -->
            <input type = "text" placeholder="Your full name" id="name" required/>     
            <!--jokaiselle inputille tietokannassa olevan kentän nimi, form luo objektin inputista -->
            <input type = "text" placeholder="Your full address" id="address" required/>
            <input type = "text" placeholder="Your age" id="age" required/>
            <input id="sendBtn" type="button" value="Send"/>
        
        </form>
        
    </body>

</html>


