<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet">
                                                          
    </head>
    <body> <!-- kommentti -->
        <p>Hello earth habitants!</p>
        <input type="text" placeholder="Enter your name"/>
        <p>Terve taas</p>
        <div class="mun_keksima">terve</div>
        <div class="fancy">taas</div>
        
        <p class="fancy">Hei</p>
        
        <p id="joku_tyyli">Tadaa Id tyyliä pukkaa</p>"
        
        <script src="/controllers/scripts.js"></script>
        
        
    </body>
    
    
</html>